/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: title-font;
  src: url("../font/BILLY ARGEL.otf"); }
@-webkit-keyframes fade-in-out {
  from {
    background-color: rgba(10, 17, 28, 0.5); }
  to {
    background-color: rgba(10, 17, 28, 0.9); } }
@keyframes fade-in-out {
  from {
    background-color: rgba(10, 17, 28, 0.5); }
  to {
    background-color: rgba(10, 17, 28, 0.9); } }
@-webkit-keyframes shadows-blink {
  from {
    -moz-box-shadow: 10px 10px 5px #5492f7;
    -webkit-box-shadow: 10px 10px 5px #5492f7;
    box-shadow: 10px 10px 5px #5492f7; }
  to {
    -moz-box-shadow: 15px 15px 5px #2f5591;
    -webkit-box-shadow: 15px 15px 5px #2f5591;
    box-shadow: 15px 15px 5px #2f5591; } }
@keyframes {
  from {
    -moz-box-shadow: 10px 10px 5px #5492f7;
    -webkit-box-shadow: 10px 10px 5px #5492f7;
    box-shadow: 10px 10px 5px #5492f7; }
  to {
    -moz-box-shadow: 15px 15px 5px #2f5591;
    -webkit-box-shadow: 15px 15px 5px #2f5591;
    box-shadow: 15px 15px 5px #2f5591; } }
body {
  background: #999a9b;
  font-family: Helvetica, sans-sherif; }

header h1 {
  font-family: title-font, sans-sherif;
  font-size: 5em;
  border-bottom-width: 5px;
  border-bottom-color: #83aff7;
  border-bottom-style: dotted; }
  header h1 span {
    font-family: Helvetica, sans-sherif;
    padding-left: 25px; }
header p {
  padding: 25px 45px;
  font: 1.375em/2em Helvetica, sans-sherif; }

section {
  background: #b6b7ba;
  margin: 35px 60px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border-color: #030c19;
  border-width: 4px;
  border-style: solid; }
  section p {
    color: #eaebed;
    padding: 25px 45px; }
  section h2 {
    color: #464d59;
    font-size: 2.1875em;
    font-weight: 600; }
  section h3 {
    color: #333435;
    font-size: 1.5em; }
  section .articleTitle, section .specialTitle {
    padding-top: 20px; }
  section .specialTitle {
    border: 1px dashed #333435; }

.mainSection {
  padding-left: 22px; }

#section-1 {
  padding-left: 10px; }
  #section-1 p {
    font-size: 0.66667em; }

#section-2 {
  padding-left: 20px; }
  #section-2 p {
    font-size: 1.33333em; }

#section-3 {
  padding-left: 30px; }
  #section-3 p {
    font-size: 2em; }

section {
  float: left; }
  section div {
    float: left;
    width: 50%; }
  section:after {
    clear: both; }

section p span.intensePart, section p span.seriousPart, section p span.catharsisPart {
  font-weight: 600; }
section p span.seriousPart, section p span.catharsisPart {
  color: #030c19; }
section p span.catharsisPart {
  font-size: 2em; }

section#section-5 ul li {
  width: 200px;
  height: 200px;
  float: left;
  position: relative; }
  section#section-5 ul li span {
    background-color: rgba(10, 17, 28, 0.5);
    color: #e3ebf7;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px; }
  section#section-5 ul li:hover span {
    -webkit-animation-name: fade-in-out;
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-name: fade-in-out;
    animation-duration: 4s;
    animation-fill-mode: forwards; }
section#section-5 ul li#fox {
  background-image: url(../img/fox.jpg); }
section#section-5 ul li#seal {
  background-image: url(../img/seal.jpg); }
section#section-5 ul li#mouse {
  background-image: url(../img/mouse.jpg); }
section#section-5 ul li#marten {
  background-image: url(../img/marten.jpg); }

section .shadowBox {
  width: 300px;
  height: 300px;
  margin: 0 45px 45px 0; }

.shadows1 {
  -moz-box-shadow: 0px 4px 5px 5px #5492f7;
  -webkit-box-shadow: 0px 4px 5px 5px #5492f7;
  box-shadow: 0px 4px 5px 5px #5492f7; }

.shadows2 {
  -moz-box-shadow: 0px 40px 10px #2f5591;
  -webkit-box-shadow: 0px 40px 10px #2f5591;
  box-shadow: 0px 40px 10px #2f5591; }

.shadows3 {
  -moz-box-shadow: 20px 20px #2f5591;
  -webkit-box-shadow: 20px 20px #2f5591;
  box-shadow: 20px 20px #2f5591;
  border: 3px dotted #eaebed; }

.shadows4 {
  -moz-box-shadow: 0px 20px #5492f7, 10px 20px #2f5591;
  -webkit-box-shadow: 0px 20px #5492f7, 10px 20px #2f5591;
  box-shadow: 0px 20px #5492f7, 10px 20px #2f5591; }

.shadows5 {
  -moz-box-shadow: 5px 15px 15px #2f5591, 40px 40px 40px #5492f7;
  -webkit-box-shadow: 5px 15px 15px #2f5591, 40px 40px 40px #5492f7;
  box-shadow: 5px 15px 15px #2f5591, 40px 40px 40px #5492f7; }

.shadows6 {
  -moz-box-shadow: -15px 15px 5px 5px #2f5591, 15px -15px 5px 5px #5492f7;
  -webkit-box-shadow: -15px 15px 5px 5px #2f5591, 15px -15px 5px 5px #5492f7;
  box-shadow: -15px 15px 5px 5px #2f5591, 15px -15px 5px 5px #5492f7; }

.shadows7 {
  -webkit-animation-name: shadows-blink;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-name: shadows-blink;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@media screen and (max-width: 400px) {
  section p {
    padding: 10px 5px; } }

/*# sourceMappingURL=main.css.map */
