@import 'reset.scss';

$color-grey : rgb(153, 154, 155);
$color-grey-light : rgb(182, 183, 186);
$color-grey-dark : rgb(51, 52, 53);

$color-1 : rgb(234, 235, 237);
$color-2 : rgb(70, 77, 89);
$color-3 : rgb(3, 12, 25);

$color-4 : rgb(84, 146, 247);
$color-5 : rgb(47, 85, 145);

@font-face{
  font-family: title-font;
  src: url('../font/BILLY ARGEL.otf');
}

$base-font: Helvetica, sans-sherif;
$title-font: title-font, sans-sherif;

$font-size-1 : (35/16) + em;

@mixin box-padding(){
  padding: 25px 45px;
}

@mixin box-padding-mobile(){
  padding: 10px 5px;
}

@mixin section-padding(){
  margin: 35px 60px; 
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-dotted($color, $width : 1em){
  border-bottom: {
    width: $width;
    color: $color;
    style: dotted;
  }
}

@mixin list-title{
  background-color: rgba(10, 17, 28, 0.5);
  color: rgb(227, 235, 247);
  position: absolute;
  top: 10px;
  left: 10px;
}

@mixin fade-in-out{
  @-webkit-keyframes fade-in-out{
    from {background-color: rgba(10, 17, 28, 0.5);}
    to {background-color: rgba(10, 17, 28, 0.9);}
  }  
  @keyframes fade-in-out{
    from {background-color: rgba(10, 17, 28, 0.5);}
    to {background-color: rgba(10, 17, 28, 0.9);}
  }
}

@include fade-in-out;

@mixin fade{
  -webkit-animation-name: fade-in-out;
  -webkit-animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-in-out;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@mixin box-shadow($shadows...){
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin shadows-blink{
  @-webkit-keyframes shadows-blink{
    from {
      @include box-shadow(10px 10px 5px $color-4);
    }
    to{
      @include box-shadow(15px 15px 5px $color-5);
    }
  }
  @keyframes{
    from {
      @include box-shadow(10px 10px 5px $color-4);
    }
    to{
      @include box-shadow(15px 15px 5px $color-5);
    }
  }
}

@include shadows-blink;

@mixin shadows-blink-animation{
  -webkit-animation-name: shadows-blink;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-name: shadows-blink;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}


body{
  background: $color-grey;
  font-family: $base-font;
}

header{
  h1{
    font-family: $title-font;
    font-size: 5em;
    @include border-dotted(rgb(131, 175, 247), 5px);
    
    span{
      font-family: $base-font;
      padding-left: 25px;
    }
  }
  
  p{
    @include box-padding;
    $size : (22/16) + em;
    $line-height : 2em;
    font: #{$size}/#{$line-height} $base-font;
  }
}

section{
  background: $color-grey-light;
  @include section-padding();
  @include border-radius(20px);
  border-color: $color-3;
  border-width: 4px;
  border-style: solid;
  
  p{
    color: $color-1;
    @include box-padding();
  }
  
  h2{
    color: $color-2;
    font:{
      size: $font-size-1;
      weight: 600;
    }
  }
  h3{
    color: $color-grey-dark;
    font-size: 1.5em;
  }
  .articleTitle{
    padding-top: 20px;
  }
  .specialTitle{
    @extend .articleTitle;
    border: 1px dashed $color-grey-dark;
  }
}

.mainSection{
  padding-left: 22px;
}

@for $i from 1 through 3{
  #section-#{$i} {
    padding-left: ($i * 10) + px;
    p {
      font-size: 1em * ($i/1.5)
    }
  }
}

section{
  div{
    float: left;
    width: 50%;
  }
  float: left;
  &:after{
    clear: both; 
  }
}

section p {
  span.intensePart{
    font-weight: 600;
  }
  span.seriousPart{
    @extend .intensePart;
    color: $color-3;
  }
  span.catharsisPart{
    @extend .seriousPart;
    font-size: 2em;
  }
}

section#section-5{
  ul{
    li{
      width: 200px;
      height: 200px;
      float: left;
      position: relative;
      span{
        @include list-title;
        padding: 10px;
      }
      &:hover span{
          @include fade;
      }
    }
    @each $animal in fox, seal, mouse, marten{
      li##{$animal}{
        background-image: url(../img/#{$animal}.jpg);
      }
    }
  }
}

section .shadowBox{
  width: 300px;
  height: 300px;
  margin: 0 45px 45px 0;
}

.shadows1{
  @include box-shadow(0px 4px 5px 5px $color-4)
}
.shadows2{
  @include box-shadow(0px 40px 10px $color-5) 
}
.shadows3{
  @include box-shadow(20px 20px  $color-5);
  border: 3px dotted $color-1;
}
.shadows4{
  @include box-shadow(0px 20px $color-4, 10px 20px $color-5);
}
.shadows5{
  @include box-shadow(5px 15px 15px $color-5, 40px 40px 40px $color-4);
}
.shadows6{
  @include box-shadow(-15px 15px 5px 5px $color-5, 15px -15px 5px 5px $color-4);
}
.shadows7{
  @include shadows-blink-animation;
}




@media screen and (max-width: 400px){
  section{
    p{
      @include box-padding-mobile();
    }
  }
}
