/**
 *   Main SCSS
 */
/**
 *   Variables Declaration
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700");
/*
 *  MIXINS Declaration
 */
/** DEBUGGING **/
/** GENERAL STYLES **/
* {
  font-family: "Roboto", sans-sherif;
  font-size: 1em;
  color: #032f3e; }

a, a:hover, a:visited {
  text-decoration: none; }

h2 {
  font-family: "Roboto", sans-sherif;
  font-weight: 600;
  font-size: 4.375em;
  color: white;
  text-transform: uppercase; }
  h2 span {
    font-weight: 200;
    color: white;
    display: block; }

h3 {
  font-size: 1.625em; }

h4 {
  font-size: 1.125em;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  text-transform: uppercase; }
  h4:not(*:root) {
    word-break: break-all; }

/** RULER **/
hr {
  border: none;
  border-bottom: 2px solid #ab987a;
  width: 30px;
  margin: 30px auto; }

p {
  font-size: 1em;
  font-weight: 200;
  color: #616161; }

.spacer {
  height: 140px; }

/** BUTTONS **/
[class^="button"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 62px;
  text-align: center;
  line-height: 62px;
  font-weight: bold; }
  [class^="button"][class*="large"] {
    width: 230px; }
  [class^="button"][class*="small"] {
    width: 63.33333px; }
  [class^="button"][class*="1"] {
    background-color: #032f3e;
    color: white; }
    [class^="button"][class*="1"][class*="alternate"] {
      border-color: #032f3e;
      color: #032f3e; }
  [class^="button"][class*="2"] {
    background-color: #ab987a;
    color: white; }
    [class^="button"][class*="2"][class*="alternate"] {
      border-color: #ab987a;
      color: #ab987a; }
  [class^="button"][class*="alternate"] {
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    line-height: 56px; }

.icon, .folder, .date {
  font-size: 0.875em;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 0 50%; }

.folder {
  background-image: url("../img/general/folder.jpg");
  color: #ab987a; }

.projectsPortfolio .folder {
  background-image: url("../img/projects/folder.jpg");
  color: white; }

.date {
  background-image: url("../img/general/date.jpg");
  color: #bfbfbf; }

.articleContainer p {
  font-family: "Lato", sans-sherif;
  font-size: 1em;
  line-height: 1.5em; }

/*
 * HEADER
 */
.header {
  padding: 22px 0; }
  .header .link {
    margin-top: 8px;
    border-left: 1px solid #d5d5d5; }
    .header .link:last-child {
      border-right: 1px solid #d5d5d5; }
  .header .link div {
    min-height: 46px;
    padding: 10px 0;
    text-align: center; }
    .header .link div img {
      position: relative;
      margin-right: 14px; }
  .header div.skype {
    padding-top: 8px; }
    .header div.skype img {
      top: 5px; }
  .header .phone img {
    top: 3px; }
  .header .social img {
    margin: 0 3%; }

/** NAVIGATION **/
.navigation {
  background-color: #032f3e;
  min-height: 100px;
  z-index: 200;
  position: relative;
  -webkit-box-shadow: 0 30px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 30px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 30px 25px rgba(0, 0, 0, 0.5); }
  .navigation a {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    height: 100px;
    padding-top: 40px; }
    .navigation a:hover, .navigation a.selected {
      color: #ab987a; }
  .navigation div[class^="col-"] {
    border-left: 1px solid #0d3948; }
    .navigation div[class^="col-"]:last-child {
      border-right: 1px solid #0d3948; }

/** PRESENTATION **/
.presentation {
  min-height: 860px;
  background: #9e9e9e;
  z-index: -1;
  position: relative; }
  .presentation .video {
    width: 170px;
    height: 122px;
    background: url("../img/presentation/video.jpg");
    margin: 20px 0 0 auto; }
  .presentation .content {
    text-align: right;
    position: relative;
    top: 484px; }

/** PAGINATION **/
.paginationContainer .pagination .page, .paginationContainer a {
  width: 16px;
  height: 16px;
  display: block; }

/** PAGINATION - PRESENTATION **/
.presentation .paginationContainer {
  height: 192px;
  width: 16px;
  margin-top: -96px;
  position: absolute;
  right: 38px;
  top: 50%;
  margin-top: -96px; }
  .presentation .paginationContainer .page, .presentation .paginationContainer a {
    width: 16px;
    height: 16px; }
  .presentation .paginationContainer .pagination {
    height: 68px;
    width: 16px; }
  .presentation .paginationContainer .page {
    margin-bottom: 10px; }
  .presentation .paginationContainer a {
    background-position: 50% 50%;
    background-repeat: no-repeat; }
    .presentation .paginationContainer a.previous {
      margin-bottom: 46px;
      background-position: 50% 0; }
    .presentation .paginationContainer a.next {
      margin-top: 46px;
      background-position: 0 50%; }
  .presentation .paginationContainer a.previous {
    background-image: url("../img/presentation/pagination_up.jpg"); }
  .presentation .paginationContainer a.next {
    background-image: url("../img/presentation/pagination_down.jpg"); }
  .presentation .paginationContainer .page {
    background-image: url("../img/presentation/pagination_page.jpg"); }
    .presentation .paginationContainer .page.selected {
      background-image: url("../img/presentation/pagination_page_selected.jpg"); }

/** TOP BUTTON **/
.topButton {
  height: 5px;
  text-align: center;
  margin-top: -5px; }
  .topButton a {
    width: 186px;
    height: 41px;
    top: -36px;
    position: relative;
    display: block;
    margin: 0 auto; }

/** SECTION HEADER **/
.sectionHeader {
  text-align: center; }

.contentDescription {
  text-align: center;
  margin-bottom: 150px; }

/** CONTENT - SERVICES **/
.services {
  background: #f8f9fb; }

.services .topButton {
  background-color: #f8f9fb; }
  .services .topButton a {
    background-image: url("../img/services/button_top_icon.jpg"), url("../img/services/button_top_background.png");
    background-repeat: no-repeat;
    background-position: 86px 18px, 50% 0; }

.serviceBox {
  text-align: center; }

.serviceLogo {
  height: 140px;
  width: 140px;
  border: 2px solid #ab987a;
  border-radius: 140px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .serviceLogo.servicerecording {
    background-image: url("../img/services/recording.jpg"); }
  .serviceLogo.servicecertificate {
    background-image: url("../img/services/certificate.jpg"); }
  .serviceLogo.serviceskype {
    background-image: url("../img/services/skype.jpg"); }

/** LESSONS **/
.lessons {
  background: #032f3e; }
  .lessons .title {
    margin-bottom: 80px; }

.lesson {
  background-image: url("../img/lessons/lesson_border.jpg");
  background-repeat: repeat-y;
  background-position: 38px 0;
  padding-bottom: 60px;
  margin-bottom: 20px; }
  .lesson:last-child {
    background: none;
    padding-bottom: 0;
    margin-bottom: 0; }
  .lesson p {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto; }
    .lesson p:not(*:root) {
      word-break: break-all; }
    .lesson p.p-5 {
      width: 5%; }
    .lesson p.p-10 {
      width: 10%; }
    .lesson p.p-15 {
      width: 15%; }
    .lesson p.p-20 {
      width: 20%; }
    .lesson p.p-25 {
      width: 25%; }
    .lesson p.p-30 {
      width: 30%; }
    .lesson p.p-35 {
      width: 35%; }
    .lesson p.p-40 {
      width: 40%; }
    .lesson p.p-45 {
      width: 45%; }
    .lesson p.p-50 {
      width: 50%; }
    .lesson p.p-55 {
      width: 55%; }
    .lesson p.p-60 {
      width: 60%; }
    .lesson p.p-65 {
      width: 65%; }
    .lesson p.p-70 {
      width: 70%; }
    .lesson p.p-75 {
      width: 75%; }
    .lesson p.p-80 {
      width: 80%; }
    .lesson p.p-85 {
      width: 85%; }
    .lesson p.p-90 {
      width: 90%; }
    .lesson p.p-95 {
      width: 95%; }
    .lesson p.p-100 {
      width: 100%; }
    .lesson p.p-105 {
      width: 105%; }
    .lesson p.p-110 {
      width: 110%; }
  .lesson .icon, .lesson .folder, .lesson .date {
    min-height: 76px;
    background-position: 0 0;
    background-repeat: no-repeat; }
  .lesson.lesson-1 .icon, .lesson.lesson-1 .folder, .lesson.lesson-1 .date {
    background-image: url("../img/lessons/lesson-1.jpg"); }
  .lesson.lesson-2 .icon, .lesson.lesson-2 .folder, .lesson.lesson-2 .date {
    background-image: url("../img/lessons/lesson-2.jpg"); }
  .lesson.lesson-3 .icon, .lesson.lesson-3 .folder, .lesson.lesson-3 .date {
    background-image: url("../img/lessons/lesson-3.jpg"); }
  .lesson.lesson-4 .icon, .lesson.lesson-4 .folder, .lesson.lesson-4 .date {
    background-image: url("../img/lessons/lesson-4.jpg"); }

/** PROJECTS **/
.projects {
  background: #f8f9fb; }

/** PROJECT VIEWER **/
.projectViewer {
  background: white; }
  .projectViewer .control a {
    width: 62px;
    height: 62px;
    margin-top: -62px;
    display: block;
    background: white url("../img/projects/control_cross.jpg") no-repeat 50% 50%; }
  .projectViewer .viewer {
    background: #9e9e9e;
    height: 570px;
    width: 100%; }
  .projectViewer .paginationContainer {
    height: 16px;
    width: 370px;
    margin: 32px auto; }
    .projectViewer .paginationContainer .page, .projectViewer .paginationContainer a, .projectViewer .paginationContainer .pagination {
      float: left; }
    .projectViewer .paginationContainer .page, .projectViewer .paginationContainer a {
      width: 16px;
      height: 16px; }
    .projectViewer .paginationContainer .pagination {
      height: 16px;
      width: 68px; }
    .projectViewer .paginationContainer .page {
      margin-right: 10px; }
      .projectViewer .paginationContainer .page:last-child {
        margin-right: 0; }
    .projectViewer .paginationContainer a {
      background-position: 50% 50%;
      background-repeat: no-repeat; }
      .projectViewer .paginationContainer a.previous {
        margin-bottom: 135px;
        background-position: 50% 0;
        margin-bottom: 0;
        margin-right: 135px; }
      .projectViewer .paginationContainer a.next {
        margin-top: 135px;
        background-position: 0 50%;
        margin-top: 0;
        margin-left: 135px; }
    .projectViewer .paginationContainer .page {
      background-image: url("../img/projects/pagination_page.jpg"); }
    .projectViewer .paginationContainer .selected {
      background-image: url("../img/projects/pagination_selected.jpg"); }
    .projectViewer .paginationContainer .previous {
      background-image: url("../img/projects/pagination_previous.jpg"); }
    .projectViewer .paginationContainer .next {
      background-image: url("../img/projects/pagination_next.jpg"); }
  .projectViewer .folderContainer {
    margin-top: 77px;
    margin-bottom: 37px;
    *zoom: 1; }
    .projectViewer .folderContainer:before, .projectViewer .folderContainer:after {
      content: " ";
      display: table; }
    .projectViewer .folderContainer:after {
      clear: both; }
    .projectViewer .folderContainer .folder {
      float: left; }
    .projectViewer .folderContainer .date {
      float: right; }
  .projectViewer hr {
    margin-left: 0; }
  .projectViewer p {
    margin-bottom: 45px; }
  .projectViewer .social {
    margin-top: 75px; }
    .projectViewer .social p {
      color: #bfbfbf;
      font-size: 0.875em;
      margin: 0; }
    .projectViewer .social a {
      width: 21px;
      height: 21px;
      display: block;
      float: left;
      margin-right: 28px; }
    .projectViewer .social .facebook {
      background-image: url("../img/projects/facebook.jpg"); }
    .projectViewer .social .tweeter {
      background-image: url("../img/projects/tweeter.jpg"); }
    .projectViewer .social .google {
      background-image: url("../img/projects/google.jpg"); }

/** PROJECTS BLOCKS **/
.project, .project-small {
  height: 370px;
  background: #9e9e9e;
  padding-top: 1px; }
  .project-small {
    height: 170px;
    margin-bottom: 30px; }
    .project-small-last {
      margin-bottom: 0; }
  .project .folder, .project-small .folder {
    margin: 19px 0 0 21px; }

.projects .controlContainer {
  margin-top: 58px; }
  .projects .controlContainer .next {
    background-image: url("../img/projects/next.jpg"); }
  .projects .controlContainer .previous {
    background-image: url("../img/projects/previous.jpg"); }

/** CALL US **/
.callUs {
  background: #9e9e9e;
  padding: 50px 0; }
  .callUs .title {
    min-height: 104px;
    padding-left: 141px;
    background-image: url("../img/callus/skype.png");
    background-position: top left;
    background-repeat: no-repeat; }
  .callUs h2 {
    font-size: 1.875em; }
    .callUs h2, .callUs h2 span {
      color: #032f3e; }
  .callUs .flexContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .callUs .flexContainer [class^="col"] {
      align-self: center; }

/** NEWS **/
.latestNews {
  background: #f8f9fb; }

.newsViewer {
  margin-bottom: 76px; }
  .newsViewer [class*="newscontainer"] {
    background: white; }
    .newsViewer [class*="newscontainer"][class*="large"] {
      min-height: 484px;
      border-radius: 0 0 5px 0;
      -moz-border-radius: 0 0 5px 0;
      -webkit-border-radius: 0 0 5px 0;
      -webkit-box-shadow: 0 1px rgba(158, 158, 158, 0.5);
      -moz-box-shadow: 0 1px rgba(158, 158, 158, 0.5);
      box-shadow: 0 1px rgba(158, 158, 158, 0.5); }
    .newsViewer [class*="newscontainer"][class*="small"] {
      height: 124px;
      margin-bottom: 56px; }
      .newsViewer [class*="newscontainer"][class*="small"].last {
        margin-bottom: 0; }
  .newsViewer .news-picture {
    background: #9e9e9e;
    width: 100%;
    height: 186px; }
  .newsViewer .news-info {
    float: right; }
  .newsViewer .news-talk, .newsViewer .news-date {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 62px;
    height: 62px;
    padding-top: 35px;
    text-align: center;
    color: white;
    background-position: center 9px;
    background-repeat: no-repeat; }
  .newsViewer .news-talk {
    background-color: #ab987a;
    background-image: url("../img/news/chat.jpg"); }
  .newsViewer .news-date {
    background-color: #032f3e;
    background-image: url("../img/news/date.jpg"); }
  .newsViewer .news-content {
    padding: 25px 20px 0 20px; }
    .newsViewer .news-content hr {
      width: 230px;
      margin: 28px auto 28px 0; }
    .newsViewer .news-content p {
      margin-bottom: 30px; }
    .newsViewer .news-content .folderContainer {
      padding-bottom: 20px;
      *zoom: 1; }
      .newsViewer .news-content .folderContainer:before, .newsViewer .news-content .folderContainer:after {
        content: " ";
        display: table; }
      .newsViewer .news-content .folderContainer:after {
        clear: both; }
    .newsViewer .news-content .followLink {
      width: 16px;
      height: 17px;
      background-image: url("../img/news/follow.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      float: right; }
    .newsViewer .news-content .folder {
      float: left; }
  .newsViewer [class*="newscontainer-small"] {
    *zoom: 1;
    -webkit-box-shadow: 0 1px rgba(158, 158, 158, 0.5);
    -moz-box-shadow: 0 1px rgba(158, 158, 158, 0.5);
    box-shadow: 0 1px rgba(158, 158, 158, 0.5);
    float: left;
    margin-bottom: 10px; }
    .newsViewer [class*="newscontainer-small"]:before, .newsViewer [class*="newscontainer-small"]:after {
      content: " ";
      display: table; }
    .newsViewer [class*="newscontainer-small"]:after {
      clear: both; }
    .newsViewer [class*="newscontainer-small"] .news-picture, .newsViewer [class*="newscontainer-small"] .news-content, .newsViewer [class*="newscontainer-small"] .news-info {
      float: left; }
    .newsViewer [class*="newscontainer-small"] .news-picture {
      height: 100%;
      width: 25%; }
    .newsViewer [class*="newscontainer-small"] .news-content {
      width: 60%; }
      .newsViewer [class*="newscontainer-small"] .news-content h4 {
        margin-bottom: 3%; }
    .newsViewer [class*="newscontainer-small"] .news-info {
      width: 15%; }
      .newsViewer [class*="newscontainer-small"] .news-info * {
        float: right; }

.smallNewsContainer div[class^="col"] {
  padding: 0; }

.smallNewsContainer {
  position: relative; }
  .smallNewsContainer .paginationContainer {
    height: 192px;
    width: 16px;
    margin-top: -96px;
    position: absolute;
    right: -21px;
    top: 50%; }
    .smallNewsContainer .paginationContainer .page, .smallNewsContainer .paginationContainer a {
      width: 16px;
      height: 16px; }
    .smallNewsContainer .paginationContainer .pagination {
      height: 68px;
      width: 16px; }
    .smallNewsContainer .paginationContainer .page {
      margin-bottom: 10px; }
    .smallNewsContainer .paginationContainer a {
      background-position: 50% 50%;
      background-repeat: no-repeat; }
      .smallNewsContainer .paginationContainer a.previous {
        margin-bottom: 46px;
        background-position: 50% 0; }
      .smallNewsContainer .paginationContainer a.next {
        margin-top: 46px;
        background-position: 0 50%; }
    .smallNewsContainer .paginationContainer .previous {
      background-image: url("../img/news/pagination_previous.jpg"); }
    .smallNewsContainer .paginationContainer .next {
      background-image: url("../img/news/pagination_next.jpg"); }
    .smallNewsContainer .paginationContainer .page {
      background-image: url("../img/news/pagination_page.jpg"); }
    .smallNewsContainer .paginationContainer .selected {
      background-image: url("../img/news/pagination_selected.jpg"); }

.latestNews .buttonContainer [class^="button"] {
  margin: auto; }

.testimonials {
  background-image: url("../img/testimonials/background.jpg");
  background-repeat: repeat;
  background-position: top left; }
  .testimonials hr {
    margin-bottom: 75px; }

.testimonialsViewer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .testimonialsViewer .buttoncontainer {
    align-self: center;
    flex: 1;
    margin-bottom: 50px; }
    .testimonialsViewer .buttoncontainer .left {
      background-image: url("../img/testimonials/button_left.png"); }
    .testimonialsViewer .buttoncontainer .right {
      background-image: url("../img/testimonials/button_right.png"); }
  .testimonialsViewer .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .testimonialsViewer .content .picture {
      width: 146.66667px;
      height: 146.66667px;
      margin: 0 auto 40px auto;
      background: #9e9e9e;
      border: 3px solid #ab987a;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%; }
    .testimonialsViewer .content p {
      font-style: italic;
      line-height: 1.5em;
      margin-bottom: 40px;
      padding: 0 5%;
      font-family: "Lato", sans-sherif; }
    .testimonialsViewer .content h4 {
      text-transform: none;
      margin-bottom: 13px;
      font-size: 1.5em; }
    .testimonialsViewer .content h5 {
      color: #ab987a;
      font-weight: 400;
      font-size: 1.125em; }

.map .topButton {
  background: #ab987a; }
  .map .topButton a {
    width: 186px;
    background-image: url("../img/map/icon_marker.png"), url("../img/map/button_background.png");
    background-repeat: no-repeat;
    background-position: 87px 11px, 50% 0; }

.mapContainer {
  background: #9e9e9e;
  height: 655px;
  position: relative; }
  .mapContainer .bubbleContainer {
    position: absolute;
    top: 163px;
    left: 45.41%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 370px;
    background: white;
    padding: 23px 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .mapContainer .bubbleContainer .tail {
      height: 90px;
      width: 40px;
      position: absolute;
      bottom: -90px;
      left: 50%;
      margin-left: -20px;
      background: url("../img/map/tail.png") no-repeat top center; }
    @supports (transform: rotate(225deg)) {
      .mapContainer .bubbleContainer .tail {
        width: 40px;
        height: 90px;
        background: Transparent;
        overflow: hidden; }
        .mapContainer .bubbleContainer .tail:before {
          content: '';
          position: absolute;
          width: 120px;
          height: 120px;
          background: white;
          transform-origin: 0% 0%;
          transform: rotate(225deg) skew(35deg, 35deg);
          left: 20px;
          top: 90px;
          -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .mapContainer .bubbleContainer .close {
        width: 12px;
        height: 13px;
        display: block;
        position: absolute;
        top: 8px;
        right: 8px;
        background-image: url("../img/map/close.jpg");
        background-repeat: no-repeat;
        background-position: center center; }
      .mapContainer .bubbleContainer .logo {
        width: 30%;
        height: 57px;
        background-image: url("../img/map/logo.jpg");
        background-position: top center;
        background-repeat: no-repeat;
        float: left; }
      .mapContainer .bubbleContainer .content {
        float: left;
        width: 70%; }
        .mapContainer .bubbleContainer .content h4, .mapContainer .bubbleContainer .content p, .mapContainer .bubbleContainer .content span {
          font-family: "Lato", sans-sherif; }
        .mapContainer .bubbleContainer .content p {
          color: #032f3e;
          line-height: 1.6em; }
          .mapContainer .bubbleContainer .content p span {
            display: block; } }

/** FOOTER **/
footer {
  /** FOOTER - TOP **/
  /** FOOTER - BOTTOM **/ }
  footer .spacer {
    height: 100px; }
  footer .footer-top {
    background: #0d3542; }
  footer * {
    color: white; }
  footer p, footer li {
    margin-bottom: 30px;
    font-family: "Lato", sans-sherif;
    font-size: 0.875em;
    line-height: 1.5em; }
  footer hr {
    margin-left: 0;
    margin-top: 24px; }
  footer .logo {
    width: 48px;
    height: 60px;
    background: url("../img/footer/logo.jpg") no-repeat top left;
    margin-bottom: 23px; }
  footer ul {
    list-style: none; }
    footer ul li {
      padding-left: 35px;
      background-position: top left;
      background-repeat: no-repeat; }
      footer ul li.email {
        background-image: url("../img/footer/email.jpg"); }
      footer ul li.phone {
        background-image: url("../img/footer/phone.jpg"); }
      footer ul li.map {
        background-image: url("../img/footer/map.jpg"); }
      footer ul li.fax {
        background-image: url("../img/footer/fax.jpg"); }
  footer .news .date {
    background: none;
    padding: 0;
    color: #ab987a;
    margin-bottom: 0; }
  footer .news h5 {
    text-transform: uppercase;
    font-size: 0.875em; }
  footer .footer-bottom {
    background: #032f3e;
    padding: 47px 0; }
    footer .footer-bottom p {
      color: #536a72;
      margin: 0; }
    footer .footer-bottom .social {
      text-align: right;
      display: flex; }
      footer .footer-bottom .social a {
        flex: 1; }

/*# sourceMappingURL=main.css.map */
