/**
 *   Variables Declaration
 */

$debug: false;

$document-width: 1000;
$spacing : $document-width / 100 * 1; // == $grid-padding (1%)


// Grid 
$grid-columns: 12;
$grid-max-width: ($document-width/16) + em;
$grid-spacing: 0%;
$grid-padding: 1%;


// Breakpoints
$breakpoint-small: "only screen and (min-width : 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
$font-main: 'Roboto', sans-sherif;
$font-alternate: 'Lato', sans-sherif;

$font-size-main : (16/16) + em;
$font-size-small: (14/16) + em;
$font-size-header : (26/16) + em;
$font-size-bigger : (18/16)+ em;
$font-size-xxl : (70/16) + em;

$font-size-header-small: (30/16) + em;


// Colors
$color-main: rgb(3, 47, 62);
$color-alternate-1: rgb(171, 152, 122);
$color-alternate-2: rgb(158, 158, 158);
$color-alternate-3: rgb(248, 249, 251);
$color-alternate-4: rgb(13, 53, 66);
$color-alternate-5: rgb(213, 213, 213);
$color-alternate-6: rgb(255, 255, 255);
$color-alternate-7: rgb(13, 57, 72);
$color-alternate-8: rgb(191, 191, 191);

$color-font-main: rgb(97, 97, 97);


// Spacer
$spacer-height: 140px;

